pterodactylApiUrl="https://pterodactyl.example.com/api/"
pterodactylApikey="your_pterodactyl_api_key"
CORS_ALLOWED_ORIGINS=["https://frontendurl.example.com"]
CONTAINER_NAME="container-name"
EVENTURL="https://eventurl.example.com/event.json"
CSPublicIPPrefix="gameserver.example.com"
GUIDE_RETAKE="retakeguideurl.example.com"
GUIDE_NADE="nadeguideurl.example.com"
GUIDE_PREFIRE="prefireguideurl.example.com"
GUIDE_WAR="warguideurl.example.com"
CSGamePassword="esb"
DiscordCommandWebhook="https://discord.com/api/webhooks/your_webhook_url_here"