{
    "masterKey": {
        "name": "master",
        "value": "MASTERKEY",
        "encrypted": false
    },
    "functionKeys": [{
        "name": "default",
        "value": "FUNCTIONKEY",
        "encrypted": false
    }]
}